<app-home></app-home>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
    
        </div>
        <div class="col-6">
    
            <div class="card">
                <div class="card-header bg-warning">
                    <div class="row">
                        <div class="col-5">
            
                        </div>
            
                        <div class="col-2">
            
                    <h4><strong>DETAIL</strong></h4>
                    </div>
                    <div class="col-5">
            
                    </div>
        
                </div>
                <div class="card-body">
                    <div class="row">
                    <div class="col-1">
        
                    </div>
        
                    <div class="col-10">
        
                <img src="data:image/png;base64,{{prod.image}}" class="card-img-top" >
                
                    <h4> <strong>Nom de Produit</strong>=  {{prod.titre}}</h4>
                    <h4><strong>Prix</strong> =( {{prod.prix}} ) Dt</h4>
                </div>
                <div class="col-1">
        
                </div>
            </div>
            </div>
        
            </div>
        </div>
        </div>
        <div class="col-3">
    
        </div>

    </div>

</div>
<!--
<h3>detail<h3>

    <div class="col-5">
        <div class="thead bg-light">
            <img src="data:image/png;base64,{{prod.image}}" class="card-img-top">
            <div class="card-body">
                <h4>  titre =  {{prod.titre}}</h4>
                <h4>prix =( {{prod.prix}} ) Dt</h4>

            </div>
        </div>
    </div>
    -->
    