

<div class="container-fluid ">
  <div class="body">
        
  </div>

  
    <div class="col-12 mt-2 mb-2">
      
      
      
         
  
  <nav class="navbar navbar-expand-lg navbar-dark  text-black bg-dark ml-4">
    <a class="navbar-brand ml-4 text-warning "  href="/home"><h2>My Market  </h2></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="home"><strong>Accueil</strong> <span class="sr-only"></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="liste"><strong>Produits</strong></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="add"><strong>Ajouter Un Produit</strong></a>
        </li>
       
        <li class="nav-item">
          <button  class="btn btn-danger"  (click)="deconnecter()"><strong>Deconnecter</strong></button>
        </li>
      </ul>
        

    </div>
  </nav>
  
  </div>

  
  <div class="col-12 mt-2 ">
    <div class="card">
      

    </div>
  </div>
  
  </div>

